@(SalonAppliedForm: Form[ models.manager.MeifanSalonApySearch], salonIdForm:Form[Tuple2[List[String], String]], currentPage: models.manager.Page[models.manager.SalonApply])(implicit flash: play.api.mvc.Flash)
@import models.manager._
@import helper._
    @****************************************
    * Helper generating navigation links    *
    ****************************************@
  @link(page :Int) = {
    @routes.MeifanSalonApplies.list(page)
  }



    @**********************************
    * Helper generating table headers *
    ***********************************@
  @*header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
      <a href="@link(0, Some(orderBy))">@title</a>
    </th>
  }*@

  @main {

    <h1>@Messages("meifanManger.salon.applied", currentPage.total)</h1>

    @flash.get("success").map { message =>
      <div class="alert-message warning">
        <strong>Done!</strong> @message
      </div>
    }
    @views.html.salon.searchForm(SalonAppliedForm,"SALON_APPLY")

    @Option(currentPage.items).filterNot(_.isEmpty).map { salons =>
    @*<div id="actions">

      @*helper.form(action=routes.Application.list()) {
        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name...">
        <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
      }

      <a class="btn success" id="add" href="#">Add a new computer</a>

    </div>*@

    @helper.form(routes.MeifanSalonManager.processAllSalons, 'id -> "processAllSalons", 'name -> "processAllSalons"){

    @if(salons.exists(p=>p.salon.salonStatus.applyMeifanFlag == 1)){
      <div>
          @select(
              salonIdForm("processType"),
              options(
                  "delete" -> Messages("manager.status.delete"),
                  "active" -> Messages("manager.status.active")

              ),
              '_default -> Messages("manager.operate.select"),
              '_label -> None,
              '_showConstraints -> false
          )&larr;
        <input type="submit" value="提交" class="submit" />
      </div>
    }else{
        @select(
            salonIdForm("processType"),
            options(
                "agree" -> Messages("manager.operate.agree"),
                "reject" -> Messages("manager.operate.reject")

            ),
            '_default -> Messages("manager.operate.select"),
            '_label -> None,
            '_showConstraints -> false
        )&larr;

        <input type="submit" value="提交" class="submit" />
    }


    <table class="computers zebra-striped">
      <thead>
        <tr>
          <th class="header">
            <a href="javascript:void(0);" class="selectAll"><input type='checkbox' class="boxChecked"/>@Messages("manager.operate.selectAll")</a>
          </th>
          <th class="header">@Messages("salon.basicInfo.AccountId")</th>
          <th class="header">@Messages("salon.basicInfo.salonName")</th>
          <th class="header">@Messages("salon.basicInfo.industry")</th>
          <th class="header">@Messages("salon.basicInfo.contactPhone")</th>
          <th class="header">@Messages("salon.basicInfo.contactPeople")</th>
          <th class="header">@Messages("salon.basicInfo.contactEmail")</th>
          <th class="header">@Messages("salon.basicInfo.establishDate")</th>
          <th class="header">@Messages("meifanManger.salon.finishItem")</th>
          <th class="header">@Messages("manager.operate")</th>
         </tr>
      </thead>
      <tbody>


        @for((salonApyItem, i) <- salons.zipWithIndex){
          <tr>
            <td><input type='checkbox' value="@salonApyItem.salon.id" name='salonId[@i]'/></td>
            <td>@salonApyItem.salon.salonAccount.accountId</td>
            <td>@salonApyItem.salon.salonName</td>
            <td>@salonApyItem.salon.salonIndustry.map{industry => @industry &nbsp;}</td>
            <td>@salonApyItem.salon.contactMethod.mainPhone</td>
            <td>@salonApyItem.salon.contactMethod.contact</td>
            <td>@salonApyItem.salon.contactMethod.email</td>
            <td>@salonApyItem.salon.registerDate.format("yyyy-MM-dd")</td>
            <td>
              @if(salonApyItem.finishedItem.nonEmpty){
                @salonApyItem.finishedItem.map{item =>
                <a href="/get@item/@salonApyItem.salon.id">  @Messages("meifanManger.salon." + item)</a>  &nbsp;
                }
              }else { <em>-</em> }
            </td>
            <td>
              @views.html.salon.salonOperateItem(salonApyItem.salon)
            </td>
          </tr>

      }

      </tbody>
    </table>

    }
    <div id="pagination" class="pagination">
      <ul>
        @currentPage.prev.map { page =>
        <li class="prev">
          <a href="@link(page)">&larr; @Messages("manager.operate.prePage")</a>
        </li>
        }.getOrElse {
          <li class="prev disabled">
            <a>&larr; @Messages("manager.operate.prePage")</a>
          </li>
        }
      <li class="current">
        <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + currentPage.items.length) of @currentPage.total</a>
      </li>
        @currentPage.next.map { page =>
        <li class="next">
          <a href="@link(page)">@Messages("manager.operate.nextPage") &rarr;</a>
        </li>
        }.getOrElse {
          <li class="next disabled">
            <a>@Messages("manager.operate.nextPage") &rarr;</a>
          </li>
        }
      </ul>
    </div>

    }.getOrElse {

      <div class="well">
        <em>Nothing to display</em>
      </div>
    }
}
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"> </script>
  <script src="@routes.Assets.at("javascripts/managerSalon.js")" type="text/javascript"> </script>