@(salon :models.portal.salon.Salon)

<div>
@if(salon.salonStatus.applyMeifanFlag == 0){
  <div>
    <a class="btn success" href="@routes.MeifanSalonApplies.agreeMeifanSalonApy(salon.id)"><span>@Messages("manager.operate.agree")</span><b></b></a>
    <a class="btn success" href="@routes.MeifanSalonApplies.rejectMeifanSalonApy(salon.id)"><span>@Messages("manager.operate.reject")</span><b></b></a>
  </div>
}

@if(salon.salonStatus.applyMeifanFlag == 1){
  @if(salon.salonStatus.isValid == true){
    <div>
      <a class="btn success" id="add" href="@routes.MeifanSalonManager.deleteMeifanSalon(salon.id)">@Messages("manager.status.delete")</a>
      <a class="btn disabled" id="add" href="#">@Messages("manager.status.active")</a>
    </div>
  }else{
    <a class="btn disabled" id="add" href="#">@Messages("manager.status.delete")</a>
    <a class="btn success" id="add" href="@routes.MeifanSalonManager.activeMeifanSalon(salon.id)">@Messages("manager.status.active")</a>
  }
}
</div>