@(MeifanSalonForm: Form[ models.manager.MeifanSalonApySearch], itemType :String)
@import helper._

<div>
@if(itemType.equals("SALON_APPLY")) {

    @helper.form(routes.MeifanSalonApplies.getByCondition){

        @inputText(MeifanSalonForm("id"), '_label -> Messages("salon.basicInfo.AccountId"))
        @inputText(MeifanSalonForm("salonName"), '_label -> Messages("salon.basicInfo.salonName"))

        @select(
          MeifanSalonForm("industry"),
          options = options(models.portal.industry.Industry.findAllIndustryName),
          '_label -> Messages("salon.basicInfo.industry"),
          '_showConstraints -> false
        )
        <div class="clearfix"></div>
        @inputDate(MeifanSalonForm("registerStarDate"),'_label -> Messages("salon.basicInfo.establishDate") , '_help -> "")
        @inputDate(MeifanSalonForm("registerEndDate"),'_label -> None , '_help -> "")

      @select(
      MeifanSalonForm("flag"),
      options(
      "0" -> Messages("manager.status.applied"),
      "1" -> Messages("manager.status.agreed"),
      "2" -> Messages("manager.status.rejected")
      ),
      '_default -> "--chose--",
      '_label -> Messages("manager.status.apyFlag"),
      '_showConstraints -> false
      )

        <input type="submit" value="搜索" />
        <div class="clearfix"></div>
    }
}
</div>