@(StylistForm: Form[ models.manager.stylist.MeifanStylistSearch ], itemType :String)
@import helper._

<div>
    @if(itemType.equals("StylistSrch")) {
    @helper.form(routes.MeifanStylistApplies.getByCondition){
    @inputText(StylistForm("userId"), '_label -> Messages("stylist.basicInfo.stylistId"))
    @inputText(StylistForm("nickName"), '_label -> Messages("stylist.basicInfo.nickName"))

    @select(
    StylistForm("industry"),
    options = options(models.portal.industry.Industry.findAllIndustryName),
    '_label -> Messages("stylist.basicInfo.position"),
    '_showConstraints -> false
    )
    <div class="clearfix"></div>

    @select(
    StylistForm("isValid"),
    options(
    "true" -> Messages("manager.stylist.status.ok"),
    "false" -> Messages("manager.stylist.status.freezn")
    ),
    '_default -> "--chose--",
    '_label -> Messages("manager.status.apyFlag"),
    '_showConstraints -> false
    )
    <input type="submit" value=@Messages("search")>
    <div class="clearfix"></div>
    }
    }
</div>