@(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>Computers database</title>
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body>

    <header class="topbar">
      <h1 class="fill">
        <a href="@routes.Application.index()">
                    美范网 &mdash;后台管理
                </a>
      </h1>
      @*views.html.header()*@
    </header>

    <section id="main">
    @content
    </section>

  </body>
</html>